.et-lp-container {
    border: 1px #dddddd solid;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}
.et-lp-canvas {
    width: 100%; 
    height: 300px;
    border: 1px #dddddd solid;
    background-color: #fefefe;
    cursor: col-resize;
}
.et-lp-time {
    display: grid;
}

.et-lp-time-span {
    justify-self: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    padding-right: 2px;
}

.et-lp-ctrls {
    height: 50px;
}

.et-lp-ctrl-btn {
    border: 1px #cfcfcf solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    outline: none;
}