<div class="et-lp-container">
    <!-- <canvas #waveFormCanvas class="et-lp-canvas"></canvas> -->
    <div #waveFormCanvas class="et-lp-canvas"></div>
    <div class="et-lp-time" (click)="seekPlay($event)">
        <span class="et-lp-time-span">
            {{currentTime | date:'mm:ss'}} / {{totalTime | date:'mm:ss'}}
        </span>
    </div>
    <div class="et-lp-ctrls">
        <button (click)="startAudio()" class="et-lp-ctrl-btn"></button>
    </div>
</div>